[Unit]
Description=Monitoring system design config
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /usr/local/bin/monitoring-sd/config/getconfig.sh

[Install]
WantedBy=multi-user.target
